.Calculator{
    margin-left: 20px;
    height: 420px;
    width: 325px;
    border-radius: 20px;
    border: 2px solid rgb(223, 221, 221);
    background-color: gainsboro;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
.Main-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Calculator .disp input{
    margin: 10px;
    height: 120px;
    width: 300px;
    border-radius: 10px;
    background-color:whitesmoke;
}
.input .row1{
    display: flex;
    gap: 10px;
    margin: 5px;
    padding: 10px;
    
}
input{
    padding: 1px;
    margin: 2px;
    height: 40px;
    width: 60px;
    border: none;
    box-shadow: 2px 2px 2px gray;
    border-radius: 5px;
}

.row1 :hover{
    transform: scale(1.04);
}
